In [17]:
from langchain_core.messages import HumanMessage
from langchain_openai import AzureChatOpenAI

from langchain.sql_database import SQLDatabase
from langchain.agents.types import AgentType
from langchain.agents import create_sql_agent
from langchain.agents.agent_toolkits import SQLDatabaseToolkit

import os
from sqlalchemy import create_engine
from dotenv import load_dotenv
import pyodbc 
import urllib

In [18]:
# load envs

load_dotenv()

# Azure SQL DB
AZURE_SQL_SERVER_ADMIN = os.environ.get('AZURE_SQL_SERVER_ADMIN')
AZURE_SQL_SERVER_PWD = os.environ.get('AZURE_SQL_SERVER_PWD')
AZURE_SQL_SERVER = os.environ.get('AZURE_SQL_SERVER')
DRIVER = os.environ.get('DRIVER')

# OpenAI
AZURE_SQL_DATABASE = os.environ.get('AZURE_SQL_DATABASE')
AZURE_OPENAI_API_KEY = os.environ.get("AZURE_OPENAI_API_KEY")
AZURE_OPENAI_ENDPOINT = os.environ.get('AZURE_OPENAI_ENDPOINT')
AZURE_OPENAI_VERSION = os.environ.get('AZURE_OPENAI_VERSION')
AZURE_OPENAI_DEPLOYMENT_NAME = os.environ.get('AZURE_OPENAI_DEPLOYMENT_NAME')

In [19]:
# connect via pyodbc

CONNECTION_STRING = f'DRIVER={DRIVER};SERVER=tcp:{AZURE_SQL_SERVER},1433;DATABASE={AZURE_SQL_DATABASE};UID={AZURE_SQL_SERVER_ADMIN};PWD={AZURE_SQL_SERVER_PWD}'
cnxn = pyodbc.connect(CONNECTION_STRING)
cursor = cnxn.cursor()

In [20]:
# create engine

ODBC_CONNECTION_STRING = f"Driver={DRIVER};Server=tcp:{AZURE_SQL_SERVER},1433;Database={AZURE_SQL_DATABASE};Uid={AZURE_SQL_SERVER_ADMIN};Pwd={AZURE_SQL_SERVER_PWD};Encrypt=yes;TrustServerCertificate=no;Connection Timeout=30;"
ODBC_CONNECTION_STRING = urllib.parse.quote_plus(ODBC_CONNECTION_STRING) 
ODBC_CONNECTION_STRING = "mssql+pyodbc:///?odbc_connect=%s" % ODBC_CONNECTION_STRING

db_engine = create_engine(ODBC_CONNECTION_STRING)

# initialize db for RAG
db = SQLDatabase(db_engine)

In [21]:
oai = AzureChatOpenAI(
    openai_api_version=AZURE_OPENAI_VERSION,
    azure_deployment=AZURE_OPENAI_DEPLOYMENT_NAME,
)

# test
message = HumanMessage(
    content="Translate this sentence from English to French. I love structured data yo!."
)
oai.invoke([message]).content

"J'adore les données structurées yo !"

In [22]:
# create sql toolkit for the agent
sql_toolkit = SQLDatabaseToolkit(db=db, llm=oai)

# create SQL agent
agent_executor = create_sql_agent(
    llm=oai,
    toolkit=sql_toolkit,
    verbose=True,
    agent_type=AgentType.ZERO_SHOT_REACT_DESCRIPTION
)

## Test

In [23]:
question = "How many fast moving items with minimum price per nos of over 1000 do we have?"

In [24]:
# run agent executor

output = agent_executor.invoke(question)
output['output']

> Entering new SQL Agent Executor chain...
To answer this question, I need to access the database and find the records that match the criteria. I assume that there is a table that contains information about the items, including their speed, price per nos, and quantity. But first, I need to confirm the tables in the database.
Action: sql_db_list_tables
Action Input: ""Medical Equipment Spare Part InventoriesThe database has one table which is "Medical Equipment Spare Part Inventories". I assume this table has the necessary information. I will need to look at the schema of this table to confirm if it has the fields I need to answer the question.
Action: sql_db_schema
Action Input: "Medical Equipment Spare Part Inventories"
CREATE TABLE [Medical Equipment Spare Part Inventories] (
	[Item_Code] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Item_Description] NVARCHAR(100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Part_No] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Part_Description] NVARCHAR(100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Model] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Unit_Of_Measurement] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Spare_Part_Type] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Location] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Specify] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Part_Category] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Is_Expiry_date_Required] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Min_Nos] TINYINT NULL,
	[Max_Nos] SMALLINT NULL,
	[Minimum_Price_Per_Nos_RM] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Maximum_Price_Per_Nos_RM] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Brand] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Status] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Expiry_Age_In_Month] TINYINT NULL,
	[Current_Stock_Level] SMALLINT NULL
)

/*
3 rows from Medical Equipment Spare Part Inventories table:
Item_Code	Item_Description	Part_No	Part_Description	Model	Unit_Of_Measurement	Spare_Part_Type	Location	Specify	Part_Category	Is_Expiry_date_Required	Min_Nos	Max_Nos	Minimum_Price_Per_Nos_RM	Maximum_Price_Per_Nos_RM	Brand	Status	Expiry_Age_In_Month	Current_Stock_Level
BP0018	Motors/ Micromotors/ Carbon brushes	01-0802-0503-085	Flow motor	None	Unit	Fast Moving Item	Company Site Office	None	Biomedical	Yes	1	3	MYR 500,00 	MYR 800,00 	Common	Active	0	0
BP0025	Sensors/ Detectors	01-0101-0101-044	O2 Sensor OOM202	None	Unit	One Off	Centralized	None	Biomedical	Yes	1	5	MYR 280,00 	MYR 380,00 	Common	Active	0	0
BP0005	Casing/ Covers/ Brackets/ Latches/ Part Holders	01-0802-0504-011	Door 22MM Bubble C.Holder 4008SV10	Fresenius 4008S NG	Unit	Just In Time	Company Site Office	None	Biomedical	No	1	3	MYR 800,00 	MYR 826,80 	Fresenius	Active	0	3
*/The table "Medical Equipment Spare Part Inventories" has a column named "Minimum_Price_Per_Nos_RM" which I can use to filter items with a minimum price per nos of over 1000. It also has a column named "Spare_Part_Type" which should contain the information about whether an item is fast moving or not. Now I will write a query to find the count of such items.
Action: sql_db_query_checker
Action Input: "SELECT COUNT(*) FROM [Medical Equipment Spare Part Inventories] WHERE Spare_Part_Type = 'Fast Moving Item' AND CAST(REPLACE(Minimum_Price_Per_Nos_RM, 'MYR ', '') AS FLOAT) > 1000"SELECT COUNT(*) FROM [Medical Equipment Spare Part Inventories] WHERE Spare_Part_Type = 'Fast Moving Item' AND CAST(REPLACE(Minimum_Price_Per_Nos_RM, 'MYR ', '') AS FLOAT) > 1000The query seems to be correct. It is designed to count the number of rows in the "Medical Equipment Spare Part Inventories" where the "Spare_Part_Type" is 'Fast Moving Item' and the "Minimum_Price_Per_Nos_RM" is over 1000. The "Minimum_Price_Per_Nos_RM" field is a string, so I'm replacing the 'MYR ' part and casting it to a float to perform the comparison. Now, I will execute this query.
Action: sql_db_query
Action Input: "SELECT COUNT(*) FROM [Medical Equipment Spare Part Inventories] WHERE Spare_Part_Type = 'Fast Moving Item' AND CAST(REPLACE(Minimum_Price_Per_Nos_RM, 'MYR ', '') AS FLOAT) > 1000"Error: (pyodbc.ProgrammingError) ('42000', '[42000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Error converting data type nvarchar to float. (8114) (SQLExecDirectW)')
[SQL: SELECT COUNT(*) FROM [Medical Equipment Spare Part Inventories] WHERE Spare_Part_Type = 'Fast Moving Item' AND CAST(REPLACE(Minimum_Price_Per_Nos_RM, 'MYR ', '') AS FLOAT) > 1000]
(Background on this error at: https://sqlalche.me/e/20/f405)The error suggests that the conversion from nvarchar to float is failing. This could be due to the presence of non-numeric characters in the "Minimum_Price_Per_Nos_RM" column other than 'MYR '. I need to inspect some records to identify the issue.
Action: sql_db_query
Action Input: "SELECT TOP 10 Minimum_Price_Per_Nos_RM FROM [Medical Equipment Spare Part Inventories]"[('MYR 500,00 ',), ('MYR 280,00 ',), ('MYR 800,00 ',), ('MYR 650,00 ',), ('MYR 385,00 ',), ('MYR 450,00 ',), ('MYR 127,00 ',), ('MYR 1,85 ',), ('MYR 25,00 ',), ('MYR 85,00 ',)]The prices in the 'Minimum_Price_Per_Nos_RM' column are formatted with a comma as the decimal separator. This is why our conversion to float is failing, as float values use a dot as the decimal separator. I'll adjust the query to replace the comma with a dot before converting to float.
Action: sql_db_query_checker
Action Input: "SELECT COUNT(*) FROM [Medical Equipment Spare Part Inventories] WHERE Spare_Part_Type = 'Fast Moving Item' AND CAST(REPLACE(REPLACE(Minimum_Price_Per_Nos_RM, 'MYR ', ''), ',', '.') AS FLOAT) > 1000"SELECT COUNT(*) FROM [Medical Equipment Spare Part Inventories] WHERE Spare_Part_Type = 'Fast Moving Item' AND CAST(REPLACE(REPLACE(Minimum_Price_Per_Nos_RM, 'MYR ', ''), ',', '.') AS FLOAT) > 1000The updated query appears to be correct as it now replaces both the 'MYR ' part and the comma in the "Minimum_Price_Per_Nos_RM" field before casting it to a float. Now, I will execute this query.
Action: sql_db_query
Action Input: "SELECT COUNT(*) FROM [Medical Equipment Spare Part Inventories] WHERE Spare_Part_Type = 'Fast Moving Item' AND CAST(REPLACE(REPLACE(Minimum_Price_Per_Nos_RM, 'MYR ', ''), ',', '.') AS FLOAT) > 1000"Error: (pyodbc.ProgrammingError) ('42000', '[42000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Error converting data type nvarchar to float. (8114) (SQLExecDirectW)')
[SQL: SELECT COUNT(*) FROM [Medical Equipment Spare Part Inventories] WHERE Spare_Part_Type = 'Fast Moving Item' AND CAST(REPLACE(REPLACE(Minimum_Price_Per_Nos_RM, 'MYR ', ''), ',', '.') AS FLOAT) > 1000]
(Background on this error at: https://sqlalche.me/e/20/f405)The error suggests that there is still an issue with the conversion from nvarchar to float. It's possible that there are other non-numeric characters in the "Minimum_Price_Per_Nos_RM" column that we haven't accounted for, or there could be some data quality issues. Let's take a deeper look at the data in "Minimum_Price_Per_Nos_RM" field.
Action: sql_db_query
Action Input: "SELECT DISTINCT Minimum_Price_Per_Nos_RM FROM [Medical Equipment Spare Part Inventories] ORDER BY Minimum_Price_Per_Nos_RM"[('MYR 0,40 ',), ('MYR 1,00 ',), ('MYR 1,10 ',), ('MYR 1,30 ',), ('MYR 1,60 ',), ('MYR 1,85 ',), ('MYR 1.000,00 ',), ('MYR 1.090,00 ',), ('MYR 1.100,00 ',), ('MYR 1.125,00 ',), ('MYR 1.130,00 ',), ('MYR 1.163,00 ',), ('MYR 1.166,00 ',), ('MYR 1.175,00 ',), ('MYR 1.180,00 ',), ('MYR 1.200,00 ',), ('MYR 1.250,00 ',), ('MYR 1.267,00 ',), ('MYR 1.300,00 ',), ('MYR 1.305,00 ',), ('MYR 1.306,00 ',), ('MYR 1.330,00 ',), ('MYR 1.346,00 ',), ('MYR 1.350,00 ',), ('MYR 1.468,00 ',), ('MYR 1.495,00 ',), ('MYR 1.500,00 ',), ('MYR 1.520,00 ',), ('MYR 1.520,30 ',), ('MYR 1.571,00 ',), ('MYR 1.724,00 ',), ('MYR 1.750,00 ',), ('MYR 1.800,00 ',), ('MYR 1.850,00 ',), ('MYR 1.980,00 ',), ('MYR 10,00 ',), ('MYR 10.001,00 ',), ('MYR 10.500,00 ',), ('MYR 100,00 ',), ('MYR 104,38 ',), ('MYR 105,00 ',), ('MYR 11,00 ',), ('MYR 110,00 ',), ('MYR 118,00 ',), ('MYR 12,00 ',), ('MYR 12,50 ',), ('MYR 120,00 ',), ('MYR 122,00 ',), ('MYR 125,00 ',), ('MYR 127,00 ',), ('MYR 130,00 ',), ('MYR 132,00 ',), ('MYR 135,00 ',), ('MYR 138,00 ',), ('MYR 14,00 ',), ('MYR 140,00 ',), ('MYR 145,00 ',), ('MYR 15,00 ',), ('MYR 150,00 ',), ('MYR 155,00 ',), ('MYR 159,00 ',), ('MYR 159,85 ',), ('MYR 16,00 ',), ('MYR 16,50 ',), ('MYR 160,00 ',), ('MYR 163,00 ',), ('MYR 165,00 ',), ('MYR 166,90 ',), ('MYR 172,04 ',), ('MYR 175,00 ',), ('MYR 179,00 ',), ('MYR 18,00 ',), ('MYR 180,00 ',), ('MYR 182,00 ',), ('MYR 185,00 ',), ('MYR 19,50 ',), ('MYR 190,00 ',), ('MYR 198,00 ',), ('MYR 2,00 ',), ('MYR 2,40 ',), ('MYR 2,50 ',), ('MYR 2.000,00 ',), ('MYR 2.067,00 ',), ('MYR 2.080,00 ',), ('MYR 2.132,00 ',), ('MYR 2.180,25 ',), ('MYR 2.398,00 ',), ('MYR 2.700,00 ',), ('MYR 2.850,00 ',), ('MYR 20,00 ',), ('MYR 200,00 ',), ('MYR 203,00 ',), ('MYR 204,50 ',), ('MYR 205,00 ',), ('MYR 208,00 ',), ('MYR 21,00 ',), ('MYR 210,00 ',), ('MYR 215,00 ',), ('MYR 217,00 ',), ('MYR 225,00 ',), ('MYR 230,00 ',), ('MYR 235,00 ',), ('MYR 24,00 ',), ('MYR 240,00 ',), ('MYR 248,00 ',), ('MYR 25,00 ',), ('MYR 250,00 ',), ('MYR 252,00 ',), ('MYR 255,00 ',), ('MYR 257,15 ',), ('MYR 26,00 ',), ('MYR 260,00 ',), ('MYR 27,00 ',), ('MYR 27,50 ',), ('MYR 276,10 ',), ('MYR 277,00 ',), ('MYR 280,00 ',), ('MYR 288,00 ',), ('MYR 290,00 ',), ('MYR 298,80 ',), ('MYR 3,00 ',), ('MYR 3,50 ',), ('MYR 3,60 ',), ('MYR 3,70 ',), ('MYR 3.000,00 ',), ('MYR 3.100,00 ',), ('MYR 3.150,00 ',), ('MYR 3.400,00 ',), ('MYR 3.750,00 ',), ('MYR 3.857,69 ',), ('MYR 30,00 ',), ('MYR 300,00 ',), ('MYR 31,00 ',), ('MYR 310,00 ',), ('MYR 315,00 ',), ('MYR 32,00 ',), ('MYR 320,00 ',), ('MYR 321,00 ',), ('MYR 323,00 ',), ('MYR 328,00 ',), ('MYR 33,00 ',), ('MYR 336,00 ',), ('MYR 337,00 ',), ('MYR 340,00 ',), ('MYR 345,00 ',), ('MYR 348,11 ',), ('MYR 35,00 ',), ('MYR 350,00 ',), ('MYR 351,00 ',), ('MYR 352,00 ',), ('MYR 36,30 ',), ('MYR 360,00 ',), ('MYR 37,00 ',), ('MYR 370,00 ',), ('MYR 372,00 ',), ('MYR 375,00 ',), ('MYR 377,00 ',), ('MYR 378,00 ',), ('MYR 38,00 ',), ('MYR 380,00 ',), ('MYR 385,00 ',), ('MYR 386,00 ',), ('MYR 388,00 ',), ('MYR 390,00 ',), ('MYR 4,00 ',), ('MYR 4,10 ',), ('MYR 4.400,00 ',), ('MYR 4.500,00 ',), ('MYR 40,00 ',), ('MYR 400,00 ',), ('MYR 410,00 ',), ('MYR 42,00 ',), ('MYR 425,00 ',), ('MYR 440,00 ',), ('MYR 441,00 ',), ('MYR 45,50 ',), ('MYR 450,00 ',), ('MYR 46,00 ',), ('MYR 46,85 ',), ('MYR 460,00 ',), ('MYR 475,00 ',), ('MYR 48,00 ',), ('MYR 480,00 ',), ('MYR 490,00 ',), ('MYR 498,50 ',), ('MYR 499,00 ',), ('MYR 5,00 ',), ('MYR 5,30 ',), ('MYR 5.002,00 ',), ('MYR 5.341,00 ',), ('MYR 5.500,00 ',), ('MYR 5.945,40 ',), ('MYR 50,00 ',), ('MYR 500,00 ',), ('MYR 512,00 ',), ('MYR 52,00 ',), ('MYR 520,00 ',), ('MYR 525,00 ',), ('MYR 54,00 ',), ('MYR 55,00 ',), ('MYR 550,00 ',), ('MYR 560,00 ',), ('MYR 570,00 ',), ('MYR 58,40 ',), ('MYR 580,00 ',), ('MYR 59,70 ',), ('MYR 598,00 ',), ('MYR 6,25 ',), ('MYR 6,70 ',), ('MYR 6,90 ',), ('MYR 60,00 ',), ('MYR 600,00 ',), ('MYR 610,00 ',), ('MYR 62,00 ',), ('MYR 620,00 ',), ('MYR 63,60 ',), ('MYR 630,00 ',), ('MYR 645,00 ',), ('MYR 65,00 ',), ('MYR 650,00 ',), ('MYR 670,00 ',), ('MYR 671,00 ',), ('MYR 68,00 ',), ('MYR 680,00 ',), ('MYR 685,00 ',), ('MYR 699,00 ',), ('MYR 7,00 ',), ('MYR 7,50 ',), ('MYR 7,80 ',), ('MYR 70,00 ',), ('MYR 700,00 ',), ('MYR 712,00 ',), ('MYR 718,00 ',), ('MYR 720,00 ',), ('MYR 721,60 ',), ('MYR 730,00 ',), ('MYR 733,00 ',), ('MYR 740,00 ',), ('MYR 75,00 ',), ('MYR 76,00 ',), ('MYR 77,00 ',), ('MYR 789,00 ',), ('MYR 79,00 ',), ('MYR 8,00 ',), ('MYR 80,00 ',), ('MYR 800,00 ',), ('MYR 85,00 ',), ('MYR 854,00 ',), ('MYR 860,00 ',), ('MYR 9,50 ',), ('MYR 9.432,00 ',), ('MYR 90,00 ',), ('MYR 900,00 ',), ('MYR 920,00 ',), ('MYR 940,00 ',), ('MYR 943,00 ',), ('MYR 95,00 ',), ('MYR 950,00 ',), ('MYR 96,00 ',), ('MYR 974,00 ',), ('MYR 98,00 ',), ('MYR 990,00 ',)]The data in the 'Minimum_Price_Per_Nos_RM' column have both comma and dot as thousands separator. Some prices are in the format 'MYR 1.000,00 ' while others are in the format 'MYR 1,00 '. This is causing the conversion to float to fail. I will write a function that can handle this situation, converting the column to a numeric type regardless of whether it uses a dot or a comma as the thousands separator.
Action: sql_db_query_checker
Action Input: "SELECT COUNT(*) FROM [Medical Equipment Spare Part Inventories] WHERE Spare_Part_Type = 'Fast Moving Item' AND CONVERT(FLOAT, REPLACE(REPLACE(REPLACE(Minimum_Price_Per_Nos_RM, 'MYR ', ''), '.', ''), ',', '.')) > 1000"SELECT COUNT(*) FROM [Medical Equipment Spare Part Inventories] WHERE Spare_Part_Type = 'Fast Moving Item' AND CONVERT(FLOAT, REPLACE(REPLACE(REPLACE(Minimum_Price_Per_Nos_RM, 'MYR ', ''), '.', ''), ',', '.')) > 1000The updated query appears to be correct as it now replaces the 'MYR ' part, the comma and the dot in the "Minimum_Price_Per_Nos_RM" field before casting it to a float. Now, I will execute this query.
Action: sql_db_query
Action Input: "SELECT COUNT(*) FROM [Medical Equipment Spare Part Inventories] WHERE Spare_Part_Type = 'Fast Moving Item' AND CONVERT(FLOAT, REPLACE(REPLACE(REPLACE(Minimum_Price_Per_Nos_RM, 'MYR ', ''), '.', ''), ',', '.')) > 1000"[(17,)]I now know the final answer. There are 17 fast moving items with a minimum price per nos of over 1000.
Final Answer: There are 17 fast moving items with a minimum price per nos of over 1000.

> Finished chain.

'There are 17 fast moving items with a minimum price per nos of over 1000.'

## Retrieval Enhancements

In [25]:
# Step 1: Improve the quality of a system prompt

system_prompt = """ 

    You are the most powerful and skillfull expert in querying SQL Database to find answers to user's questions.

    Your main task is to answer the USER QUERY. Utilize CONTEXT and COLUMN DESCRIPTIONS for better query understanding.

    # CONTEXT
    Table 'Medical Equipment Spare Part Inventories' contains spare parts information for maintaining a spare parts inventory management program

    # COLUMN DESCRIPTIONS
    - Item Code: A code that uniquely identifies each type of item or part in the inventory.
    - Item Description: Provides a description of the item or part, which might include its general use or characteristics. This helps in identifying the item and understanding its application.
    - Part No: The part number, which is a unique identifier assigned to a part for the purposes of inventory and ordering.
    - Part Description: A brief description of the part, providing more details about its specifications or intended use in medical equipment.
    - Unit Of Measurement: The unit in which the item is measured.
    - Spare Part Type: Categorizes the part by its usage frequency or criticality, such as "Fast Moving Item" or "One Off".
    - Location: Indicates where the part is stored or located, which can be crucial for logistics and inventory retrieval. For example, a "Company Site Office" or a specific warehouse location.
    - Part Category: The category of the part, which helps in classifying parts into broader groups, such as "Biomedical" or "Electrical", aiding in management and reporting.
    - Is Expiry date Required: Specifies whether an expiry date is required for the part, which is important for parts that are sensitive to age or environmental conditions.
    - Min Nos: The minimum number of units that should be held in inventory for this part, which helps prevent understocking.
    - Max Nos: The maximum number of units that should be held in inventory, which helps in preventing overstocking and managing storage space efficiently.
    - Minimum Price Per Nos (RM): The minimum price per unit for the part, expressed in Malaysian Ringgit (RM). This could be used for budgeting and cost management.
    - Maximum Price Per Nos (RM): The maximum price per unit for the part, also in Malaysian Ringgit. This might reflect different supplier costs or quality grades.
    - Brand: The brand of the part, which can be a determinant of quality and preference for certain applications or compliance with specific equipment.
    - Status: Indicates the current status of the part in the inventory (Active, Obsolete or Out of Stock)
    - Expiry Age (In Month): If applicable, how many months until the part should be considered expired after receipt. This is particularly relevant for parts with critical performance characteristics that degrade over time.
    - Current Stock Level: The current quantity of the part available in stock.

    
    # MANDATORY REQUIREMENTS
    You never hallucinate.
    You always answer precisely and constuctively.

    # USER QUERY
    {query}

"""

In [26]:
question = "How many fast moving items do we have?"

output = agent_executor.invoke(system_prompt.format(query=question))
output['output']

> Entering new SQL Agent Executor chain...
To answer this question, I need to find the count of items from the 'Medical Equipment Spare Part Inventories' table where the 'Spare Part Type' is 'Fast Moving Item'.

Action: sql_db_list_tables
Action Input: ""Medical Equipment Spare Part InventoriesThe 'Medical Equipment Spare Part Inventories' table exists. Now I will write an SQL query to count the number of items where 'Spare Part Type' is 'Fast Moving Item'.

Action: sql_db_query_checker
Action Input: "SELECT COUNT(*) FROM `Medical Equipment Spare Part Inventories` WHERE `Spare Part Type` = 'Fast Moving Item'"SELECT COUNT(*) FROM `Medical Equipment Spare Part Inventories` WHERE `Spare Part Type` = 'Fast Moving Item'The SQL query is correct. Now I will execute it to get the answer.

Action: sql_db_query
Action Input: "SELECT COUNT(*) FROM `Medical Equipment Spare Part Inventories` WHERE `Spare Part Type` = 'Fast Moving Item'"Error: (pyodbc.ProgrammingError) ('42000', "[42000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Incorrect syntax near '`'. (102) (SQLExecDirectW)")
[SQL: SELECT COUNT(*) FROM `Medical Equipment Spare Part Inventories` WHERE `Spare Part Type` = 'Fast Moving Item']
(Background on this error at: https://sqlalche.me/e/20/f405)The error seems to be due to the improper use of backticks around the table and column names. In SQL Server, we should use square brackets [] instead of backticks for this purpose. I will modify the query and check it again.

Action: sql_db_query_checker
Action Input: "SELECT COUNT(*) FROM [Medical Equipment Spare Part Inventories] WHERE [Spare Part Type] = 'Fast Moving Item'"SELECT COUNT(*) FROM [Medical Equipment Spare Part Inventories] WHERE [Spare Part Type] = 'Fast Moving Item'The modified SQL query is correct. Now I will execute it to get the answer.

Action: sql_db_query
Action Input: "SELECT COUNT(*) FROM [Medical Equipment Spare Part Inventories] WHERE [Spare Part Type] = 'Fast Moving Item'"Error: (pyodbc.ProgrammingError) ('42S22', "[42S22] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Invalid column name 'Spare Part Type'. (207) (SQLExecDirectW)")
[SQL: SELECT COUNT(*) FROM [Medical Equipment Spare Part Inventories] WHERE [Spare Part Type] = 'Fast Moving Item']
(Background on this error at: https://sqlalche.me/e/20/f405)It seems like the column name 'Spare Part Type' doesn't exist in the table 'Medical Equipment Spare Part Inventories'. I need to check the schema of the table to verify the correct column names.

Action: sql_db_schema
Action Input: "Medical Equipment Spare Part Inventories"
CREATE TABLE [Medical Equipment Spare Part Inventories] (
	[Item_Code] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Item_Description] NVARCHAR(100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Part_No] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Part_Description] NVARCHAR(100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Model] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Unit_Of_Measurement] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Spare_Part_Type] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Location] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Specify] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Part_Category] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Is_Expiry_date_Required] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Min_Nos] TINYINT NULL,
	[Max_Nos] SMALLINT NULL,
	[Minimum_Price_Per_Nos_RM] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Maximum_Price_Per_Nos_RM] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Brand] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Status] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Expiry_Age_In_Month] TINYINT NULL,
	[Current_Stock_Level] SMALLINT NULL
)

/*
3 rows from Medical Equipment Spare Part Inventories table:
Item_Code	Item_Description	Part_No	Part_Description	Model	Unit_Of_Measurement	Spare_Part_Type	Location	Specify	Part_Category	Is_Expiry_date_Required	Min_Nos	Max_Nos	Minimum_Price_Per_Nos_RM	Maximum_Price_Per_Nos_RM	Brand	Status	Expiry_Age_In_Month	Current_Stock_Level
BP0018	Motors/ Micromotors/ Carbon brushes	01-0802-0503-085	Flow motor	None	Unit	Fast Moving Item	Company Site Office	None	Biomedical	Yes	1	3	MYR 500,00 	MYR 800,00 	Common	Active	0	0
BP0025	Sensors/ Detectors	01-0101-0101-044	O2 Sensor OOM202	None	Unit	One Off	Centralized	None	Biomedical	Yes	1	5	MYR 280,00 	MYR 380,00 	Common	Active	0	0
BP0005	Casing/ Covers/ Brackets/ Latches/ Part Holders	01-0802-0504-011	Door 22MM Bubble C.Holder 4008SV10	Fresenius 4008S NG	Unit	Just In Time	Company Site Office	None	Biomedical	No	1	3	MYR 800,00 	MYR 826,80 	Fresenius	Active	0	3
*/The column name 'Spare Part Type' does exist in the table 'Medical Equipment Spare Part Inventories' and it matches exactly what I used in my query. The error could be due to the value 'Fast Moving Item' not being present in the 'Spare Part Type' column. I will modify the query to check how many unique values are present in the 'Spare Part Type' column to confirm my suspicion.

Action: sql_db_query_checker
Action Input: "SELECT DISTINCT [Spare_Part_Type] FROM [Medical Equipment Spare Part Inventories]"SELECT DISTINCT [Spare_Part_Type] FROM [Medical Equipment Spare Part Inventories]The modified SQL query is correct. Now I will execute it to get the unique values in the 'Spare Part Type' column.

Action: sql_db_query
Action Input: "SELECT DISTINCT [Spare_Part_Type] FROM [Medical Equipment Spare Part Inventories]"[('Fast Moving Item',), ('Just In Time',), ('One Off',)]The 'Spare Part Type' column does contain the value 'Fast Moving Item'. It seems like there was an issue with my initial query. I will try running the initial count query again to see if it works this time.

Action: sql_db_query
Action Input: "SELECT COUNT(*) FROM [Medical Equipment Spare Part Inventories] WHERE [Spare Part Type] = 'Fast Moving Item'"Error: (pyodbc.ProgrammingError) ('42S22', "[42S22] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Invalid column name 'Spare Part Type'. (207) (SQLExecDirectW)")
[SQL: SELECT COUNT(*) FROM [Medical Equipment Spare Part Inventories] WHERE [Spare Part Type] = 'Fast Moving Item']
(Background on this error at: https://sqlalche.me/e/20/f405)The same error occurred again. It seems like there is an issue with the SQL Server not recognizing the column name 'Spare Part Type'. The column names in the schema are shown with underscores instead of spaces. I should modify the query to use the column name 'Spare_Part_Type' instead of 'Spare Part Type'.

Action: sql_db_query_checker
Action Input: "SELECT COUNT(*) FROM [Medical Equipment Spare Part Inventories] WHERE [Spare_Part_Type] = 'Fast Moving Item'"SELECT COUNT(*) FROM [Medical Equipment Spare Part Inventories] WHERE [Spare_Part_Type] = 'Fast Moving Item'The modified SQL query is correct. Now I will execute it to get the answer.

Action: sql_db_query
Action Input: "SELECT COUNT(*) FROM [Medical Equipment Spare Part Inventories] WHERE [Spare_Part_Type] = 'Fast Moving Item'"[(235,)]I now know the final answer.

Final Answer: There are 235 fast moving items.

> Finished chain.

'There are 235 fast moving items.'